.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  border: solid 2px #392eff;
  margin: 8px;
  border-radius: 20px;
}

.title {
  margin: 0;
  color: #3d84a8;
}

.button {
  padding: 8px;
  border: none;
  background-color: #abedd8;
  border-radius: 8px;

  &:hover {
    background-color: #46cdcf;
    color: #fff;
    cursor: pointer;
  }
}
